*{

    margin: 0;
    padding: 0;

}

body{

    background-color: rgb(191, 196, 191);
}

h1{

    text-align: center;
    color: #23997d;
    font-family: sans-serif;
    font-weight: bold;
}

.btn1{

    width: 100px;
    background-color: #23997d;
    color: white;
    margin: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

.contador{

    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    color: #41b883ff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contador h3{

    color: #41b883ff;
}

.botoes button{

    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 28px;
    color: white;
    

}

.mais{

    background-color: #41b883ff;
}

.menos{

    background-color: #35495eff;
}

a{

    margin: 40px;
}